<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>CTS Intranet</title>
    <script>
        $( function() {
          $( "#accordion" ).accordion();
        } );
    </script>
    <style type="text/css">
       @media only screen and (min-device-width: 768px) {
      .content{    padding-left: 1%;
      padding-right: 1%;}
    }
    </style>
  
  </head>
  <body>
    <div class="topbar">
      <div class="leftbar">

        <a href="/home"><img src="/images/logo.png" id="logo"></a>
      </div>
      <div class="rightbar">
      <div class="circle"><p class="text-center"></p></div>
       <img src ="/images/notifications.png" class="notifications">
      <span class="title"> CTS Intranet</span>
      </div>
    </div>
    <div class="content">
       <div class="toolbar">
          <a href="/logout"><button type="submit" class="btn btn-primary btn-xs logout">Logout</button></a>
          <a href="/home"><button type="submit" class="btn btn-primary btn-xs homebutton">Home</button></a>
          <a href="/profile"><button type="submit" class="btn btn-primary btn-xs profile">Profile</button></a>
          <a href="/calendar"><button type="submit" class="btn btn-primary btn-xs calendar">Calendar</button></a>
          <a href="/espp"><button type="submit" class="btn btn-primary btn-xs espp">ESPP</button></a>
       </div>

    <div class="table-responsive">
    <table class="table">
    <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th> 
            <th>DOB</th>
            <th>Email</th>
            <th>Department</th>
            <th>Perms</th>
            <th>Valid</th>


          </tr>
          </thead>
          <tbody>
          <% for (var x in users) { %>
          <tr>
      <form action='/adminusers' method='post'>
        <td>   <input type='text' name='firstname' class="form-control" id="exampleInputEmail1" value=<%= users[x].firstname %>></td>
        <td><input type='text' name='lastname' class="form-control" id="exampleInputEmail1" value=<%= users[x].lastname %>></td>
        <td> <input type='date' name='dob' class="form-control" id="exampleInputEmail1" value=<%= users[x].dob %>></td>
        <td><input type='text' name='email' class="form-control" id="exampleInputEmail1" value=<%= users[x].email %>></td>
        <td>
            <select class="form-control" name="department" id="deparment">
                <option <% var select="";if (users[x].department==="Engineering"){select="selected"}%><%= select %>>Engineering</option>
                <option <% var select="";if (users[x].department==="Operations"){select="selected"}%><%= select %>>Operations</option>
                <option <% var select="";if (users[x].department==="Retail/International Sales"){select="selected"}%><%= select %>>Retail/International Sales</option>
                <option <% var select="";if (users[x].department==="National Home Center"){select="Selected"}%><%= select %>>National Home Center</option>
                <option <% var select="";if (users[x].department==="Order Desk/Accounting"){select="selected"}%><%= select %>>Order Desk/Accounting</option>
                <option <% var select="";if (users[x].department==="Quality"){select="selected"}%><%= select %> >Quality</option>
                <option <% var select="";if (users[x].department==="Marketing"){select="selected"}%><%= select %>>Marketing</option>


            </select></td>


        <td><select class="form-control" name="role" id="role" value=="user">
        <option <% var select="";if (users[x].role==="Admin"){select="selected"}%><%= select %>>Admin</option>
        <option <% var select="";if (users[x].role==="Department Admin"){select="selected"}%><%= select %>>Department Admin</option>
        <option <% var select="";if (users[x].role==="user"){select="selected"}%><%= select %>>user</option>
    </select></td>
        <td><select class="form-control" name="val" id="val" ><option <% var select="";if (users[x].val==="True"){select="selected"}%><%= select %>>true</option>
    <option <% var select="";if (users[x].val==="false"){select="selected"}%><%= select %>>False</option></select></td>
    <input type="hidden" name="_id" value=<%= users[x]._id %>>
        <td><button type="submit" class="btn btn-default">Submit</button></td>
          </tr>
          <% } %>
          </form>
          </tbody>
    </table>
    </div>
    </div>


  </body>
</html>


    
